<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/movies/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <table id="all-flights">
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight No.</th>
        <th>Departure</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= flight.airline %></td>
          <td><%= flight.airport %></td>
          <td><%= flight.flightNo %></td>
          <td><%= flight.departs %></td>
        </tr>
    </tbody>
  </table>

  <h2>Tickets</h2>
  <form 
  id="tickets-form"
  action="/flights/<%= flight._id %>/tickets"
  method="POST"
  >
  <label for="seat-input">Seat: </label>
  <input type="text" name="seat" required pattern="[A-F][1-9]\d?" id="seat-input" placeholder="A1 - F99" />
  <label for="price-input">Price: </label>
  <input type="number" name="price" id="price-input" />
  <button type="submit">Add Ticket</button>
  </form>

  <% if (flight.tickets.length) { %>
    <table>
      <thead>
        <tr>
          <th>Seat</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% flight.tickets.forEach(function(ticket) { %>
          <tr>
            <td><%= ticket.seat %></td>
            <td>$ <%= ticket.price %>.00</td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Tickets Yet</h3>
  <% } %>
</main>
  
<%- include('../partials/footer') %>