<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/movies/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <table id="all-flights">
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight No.</th>
        <th>Departure</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= flight.airline %></td>
          <td><%= flight.airport %></td>
          <td><%= flight.flightNo %></td>
          <td><%= flight.departs %></td>
        </tr>
    </tbody>
  </table>

  <h2>Tickets</h2>
  <form 
  id="tickets-form"
  action="/flights/<%= flight._id %>/tickets"
  method="POST"
  >
  <label for="seat-input">Seat: </label>
  <input type="text" name="seat" required pattern="[A-F][1-9]\d?" id="seat-input" placeholder="A1 - F99" />
  <label for="price-input">Price: </label>
  <input type="number" name="price" min="0" step="0.01" id="price-input" placeholder="$0.00"/>
  <button type="submit">Add Ticket</button>
  </form>

  <% if (flight.tickets.length) { %>
    <table>
      <thead>
        <tr>
          <th>Seat No.</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% flight.tickets.forEach(ticket => { %>
          <tr>
            <td><%= ticket.seat %></td>
            <td>$ <%= ticket.price.toFixed(2) %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Tickets Yet</h3>
  <% } %>

  <form id="add-meal-to-flight" action="/flights/<%= flight._id %>/meals" method="post">
    <select name="mealId">
      <% meals.forEach(meal => { %>
        <option value="<%= meal._id %>"><%= meal.name %></option>
      <% }) %>
    </select>
    <button type="submit">Add to Meals</button>
  </form>

  <h2>Meals</h2>
  <ul>
    <% flight.meals.forEach(meal => { %>
      <li><%= meal.name %></li>
    <% }) %>
  </ul>

</main>
  
<%- include('../partials/footer') %>